<nav class="l-cluster">
	<ul class="clean-list" role="list">
		<li><a href="/">Home</a></li>
		<li><a href="/styles/index.html">Styles</a></li>
		<li><a href="/components/index.html">Components</a></li>
		<li><a href="/patterns/index.html">Patterns</a></li>
	</ul>
</nav>