{% extends "two-col.njk" %}

{% block main %}
	{{ contents | safe }}
{% endblock %}

{% block sidemenu %}
	<nav>
		<ul>
			{% for template in collections.templates %}
				<li><a href="/{{ template.path }}">{{ template.title }}</a></li>
			{% endfor %}
		</ul>
	</nav>
{% endblock %}