<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ title }}</title>

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="../assets/library.css" media="screen" />
	<link rel="stylesheet" href="../assets/a11y-dark.css" media="screen" />
</head>
<body>
{% include "partials/_header.njk" %}
{% include "partials/_nav.njk" %}

<main>
{% block main %}
This is the default content.
{% endblock %}
</main>

{% include "partials/_footer.njk" %}
</body>
</html>