<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ title }}</title>

	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="../assets/design-system/styles.css" media="screen" />
	<link rel="stylesheet" href="../assets/design-system/a11y-dark.css" media="screen" />
</head>
<body>
{% include "partials/_header.njk" %}
{% include "partials/_nav.njk" %}

<div class="l-sidebar">
	<div>
		<div class="not-sidebar">
			{%  block main %}
			{% endblock %}
		</div>
		<div class="sidebar">
			{% block sidemenu %}
			{% endblock %}
		</div>
	</div>
</div>

{% include "partials/_footer.njk" %}
</body>
</html>