/**
# Cluster layout
 */
.l-cluster {
	overflow: hidden;
}

.l-cluster > * {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: calc(1rem / 2 * -1);
}

.l-cluster.l-cluster > * > * {
	display: inline-block;
	margin: calc(1rem / 2);
}


/**
# Sidebar layout
 */
.l-sidebar {
	overflow: hidden;
}

.l-sidebar > * {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: calc(1.7rem / 2 * -1);
}

.l-sidebar > * > * {
	margin: calc(1.7rem / 2);
}

.l-sidebar .sidebar {
	display: flex;
	flex-basis: 20rem;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
}

.l-sidebar .sidebar > * + * {
	margin-top: 1.5rem;
}

.l-sidebar .not-sidebar {
	display: flex;
	flex-basis: 0;
	flex-direction: column;
	flex-grow: 999;
	justify-content: flex-start;
	min-width: calc(55% - 1.7rem);
}

.l-sidebar .not-sidebar > * + * {
	margin-top: 1.5rem;
}


/**
# Header
 */
.global-header > a {
	align-items: center;
	display: inline-flex;
	text-decoration: none;
}

.global-header > a:hover {
	border-bottom: 1px solid;
	margin-bottom: -1px;
}


/**
# Swatches
 */
.swatches {
	display: flex;
}

.color-swatch-tile {
	box-shadow: 0 0 10px #ccc;
	margin-right: 1rem;
	padding: 1rem;
	width: 160px;
}

.color-swatch {
	height: 150px;
}

.color-name {
	font-weight: bold;
	margin: 0 0 3px 0;
}

.color-notes {
	font-size: 0.9rem;
}