---
title: Cluster
layout: content-styles.njk
---

## Cluster

The cluster suits any groups of elements that differ in length and are liable to wrap. Examples include groups of buttons at the end of forms, lists of tags, etc.